.Headd{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}
.DANILGAY{
    font-family: 'BBHSANS';
    font-size: 70px;
    justify-content: left;
    padding-bottom: 40px;
    align-items: center;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 40px;
    
}
@font-face {
    font-family: 'BBHSANS';
    src: url(BBHSansHegarty-Regular.ttf);
    font-style: normal;
    font-weight: 800;
}
.DOLB{
        background-color: rgb(210, 210, 210);
        display: flex;
}
.DOLB2 a {
    text-decoration: none;
    gap: 20px;
    justify-content: center;
    color: black;

}
.DOLB2 {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-left: 25%;
    font-size: 20px;
    font-family: 'BBHSANS';
    text-decoration: solid;
    font-weight: 500;
}
.Absolutee{
    position: absolute;
    top: 70px;
    left: 460px;
    
}
.Misha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
    background-color: rgb(125, 119, 106);
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}
.Misha img{
    border-radius: 5%;

}
